{
  "extends": ["wesbos"],
  "rules": {
    "default-param-last": 0,
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
